
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 50px;
  background-color: #18191C;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.promers-container, .promers, .promers-footer {
  width: 75%;
  min-width: 650px;
  margin: auto;
}

.promers-header {
  background-color: #FFFFFF;
  color: #000000;
  padding: 15px 0 20px;
}

.promers-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 64px;
}

.links .link {
  color: #000000;
  font-style: italic;
  text-decoration: none;
  transition: all 0.2s linear;
}

.links .link:hover {
  color: #ffffff;
  background-color: #000000;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.links .link + .link {
  margin-left: 20px;
}

.promers {
  margin-top: 50px;
  margin-bottom: 50px;
}

.promers-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 17px;
}

.text {
  line-height: 140%;
}

.text + .text {
  line-height: 140%;
  margin-top: 7px;
}

.promers-footer {
  border-top: 2px solid #FF8630;
  padding-top: 10px;
  font-style: italic;
  font-size: 14px;
}

.promers-footer .text + .text {
  margin-top: 5px;
}
